/* Reset für die Standardeinstellungen der Seite */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Globale Stile für die Seite */
body {
    font-family: Arial, sans-serif; /* Wähle eine geeignete Schriftart */
}

/* Header-Stile */
header {
    background-color: #0077cc; /* Blaue Hintergrundfarbe */
    color: #fff; /* Weiße Textfarbe */
    text-align: center; /* Text zentrieren */
    padding: 20px; /* Innenabstand für den Header */
}

header h1 {
    font-size: 36px; /* Schriftgröße für den Titel "EduLearn" */
}

/* Footer-Stile */
footer {
    background-color: #0077cc; /* Blaue Hintergrundfarbe */
    color: #fff; /* Weiße Textfarbe */
    text-align: center; /* Text zentrieren */
    padding: 10px; /* Innenabstand für den Footer */
}

footer p {
    font-style: italic; /* Kursiver Text für den Footer */
}


/* Z-Index des Footers, um sicherzustellen, dass er über anderen Elementen liegt */
footer {
    z-index: 1000;
}