
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0077cc; /* Blaue Hintergrundfarbe */
    color: #fff; /* Weiße Textfarbe */
    padding: 10px 20px; 
}

.logo {
    max-width: 100px; /* LOGO */
}

/* Wieder Logo */
#logo {
    position: absolute;
    top: 1px;
    right: 10px;
}

header h1 {
    font-size: 36px; /* Schriftgröße für EduLearn */
    text-align: center; /* Schriftgröße zentrieren */
}

/* Blauer Text */

.blue-text {
    color: blue;
    text-align: justify;
    font-style: italic;
}

/* Footer */

footer {
    background-color: #0077cc; /* Blaue Hintergrundfarbe */
    color: #fff; /* Weiße Textfarbe */
    text-align: center; /* Text zentrieren */
    padding: 10px; /* Innenabstand für den Footer */
    z-index: 1000;
}


footer p {
    font-style: italic; /* Kursiver Text für den Footer */
}

/* Reset */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif; /* Schriftart */
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Andere Stildefinitionen für deine Navigationsleiste */
}



/*Standarteinstellungen*/




/*Lernstrategie Infoseite*/

/*farbige Blöcke*/
	
	.farbiger-textblock1 {
  background-color: #DBFAFF; 
  color: black; 
  padding: 40px; 
}
		
	.textblock2 {
  background-color: #FFFCBA; 
  color: black; 
  padding: 40px; 
		
}

    .textblock1 {
  background-color: #FADEFC; 
  color: black; 
  padding: 40px; 
		
}





/*Hier Startseite ich*/
/*Hier Block farbig Karussell*/	
	
.carousel-caption {
	position:absolute;
    background-color: #352525;
	align-items: center;

}

	



/*Statistikseite*/
/*CSS-Styling für die Kuchendiagramme, Abstände */
.chart-container {
display:flex;
}
.chart-item {
margin-right: 20px; 
	


}


grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit); 
	max-width:100px;
    gap: 20px;/*Abstand zwischen den Elementen*/
    justify-content:center;
    align-items:center;
    padding: 60px;/*Abstand vom Container-Rand*/
}



.grid-item{
	text-align:inherit;
	padding: 40px;

	
}


.grid-item img{
	max-width: 90%;
	height:auto;
	padding: 40px;
	
}


