/* Der Style für den Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0077cc; /* Blaue Hintergrundfarbe */
    color: #fff; /* Weiße Textfarbe */
    padding: 10px 20px; 
}

.logo {
    max-width: 100px; /* LOGO */
}

/* CSS-Styling für das Logo */
#logo {
    position: absolute;
    top: 1px;
    right: 10px;
}

header h1 {
    font-size: 36px; /* Schriftgröße für den Titel "EduLearn" */
    text-align: center; /* Schriftgröße zentrieren */
}

/* Blauer Text */

.blue-text {
    color: blue;
    text-align: justify;
    font-style: italic;
}

/* Footer-Stile */

footer {
    background-color: #0077cc; /* Blaue Hintergrundfarbe */
    color: #fff; /* Weiße Textfarbe */
    text-align: center; /* Text zentrieren */
    padding: 10px; /* Innenabstand für den Footer */
    z-index: 1000;
}


footer p {
    font-style: italic; /* Kursiver Text für den Footer */
}

/* Reset */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif; /* Schriftart */
}

/* Formular-Stile */
/* Blauer Text-Stil */

.blue-text {
    color: blue;
    text-align: justify;
    font-style: italic;
}

/* Formular */
/* Blauer Text-Stil */

.custom-form-group {
    margin-bottom: 15px;
    border: 1px solid #007bff; /* Blaue Umrandung */
    border-radius: 5px; /* Abgerundete Ecken */
    padding: 10px; /* Innenabstand */
}

.custom-form-group label {
    color: blue; /* Blaue Farbe für das Label */
}

.custom-form-group select,
.custom-form-group textarea {
    width: 100%;
    padding: 8px; /* Innenabstand für Select und Textarea */
    margin-top: 8px;
    color: grey; /* Blaue Farbe für die Schrift  Select */
}

.custom-form-group select:focus,
.custom-form-group textarea:focus {
    border-color: #0056b3; /* Dunklere blaue Farbe beim Fokus */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Fokus-Schatten */
}

/* Blauer Text */
.blue-form {
    color: blue;
    text-align: justify;
    font-style: italic;
}



